header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                h1.h-sitename #{siteName}
                h1.h-portfolio Portfolio
        .header__column 
            a(href=routes.contact) Contact