.contact-column-wrapper
        .contact-main
            h5 #{siteName}
        .contact-column
            h5 #{area}
        .contact-social
            span 
                i(class="fas fa-envelope-square")
                h5 #{email}
            span
                a(href="https://www.instagram.com/hyunujinu/?hl=ko") 
                    i(class="fab fa-instagram")
                    h5 instagram
            span
                a(href="https://www.tumblr.com/dashboard/blog/hyunujinu") 
                    i(class="fab fa-tumblr-square")
                    h5 tumblr