extends layouts/main

block content
    .content-detail
        .caption
            h6.title #{fifth}
            h6  



        .slideshow-container
            .mySlides
                img.object-fit-cover(src="")
            