extends layouts/main

block content
        .content
            section.slideshow-container

                .mySlides(class="slides")
                    img.object-fit-cover(src="https://66.media.tumblr.com/debc80cdb270210bd22560d1433c6862/b023e573433c23b1-76/s540x810/e0126b01467d0ee0c7324b2b9fa0d2699f76ad14.png")
                
                a.prev(onclick="plusSlides(-1)")
                a.next(onclick="plusSlides(1)")

        .captions
            span.caption__title #{seventh} 
            span.caption__text plaster, felt, fabric 
            span.caption__number 76*93*75(cm) <br/> 2017