extends layouts/main

block content
        .content
            section.slideshow-container
                .mySlides(class="slides")
                    img.object-fit-cover(src="https://66.media.tumblr.com/1e0c9be57e909606d6f59762f3304dcd/a9aee79202d3f26a-c3/s540x810/1525138136c36be879f3a822617955a9bc662ac8.png")
                .mySlides(class="slides")
                    img.object-fit-cover(src="https://66.media.tumblr.com/e91fcd9f096e6d8dc8d8e00e479904b4/a9aee79202d3f26a-20/s1280x1920/767f9169d13053f1457585e74f129d0816cc5c76.png")
                .mySlides(class="slides")
                    img.object-fit-cover(src="https://66.media.tumblr.com/d793670e760ef07fb6c17f4bd65f395a/a9aee79202d3f26a-ed/s1280x1920/bf61091f54dd7c0ae92299d19c0f4fe0c07d9ae6.png")
                .mySlides(class="slides")
                    img.object-fit-cover(src="https://66.media.tumblr.com/8bf110e7640d063cefc95160deb62ac7/a9aee79202d3f26a-27/s540x810/4f57aa3cf42e60389efd65d7b33cb04e552403d9.png")
                .mySlides(class="slides")
                    img.object-fit-cover(src="https://66.media.tumblr.com/113a3ab7abc438d6a4e288e26f3ba4ba/a9aee79202d3f26a-f6/s540x810/9db515cb696ebed08e386d5adea1f27a186f92ea.png")
                a.prev(onclick="plusSlides(-1)")
                a.next(onclick="plusSlides(1)")

        .captions
            span.caption__title #{sixth} 
            span.caption__text secondhand clothes, MDF 
            span.caption__number 120*90*50(cm) <br/> 2017