extends layouts/main

block content
        .content
            section.slideshow-container
                .mySlides(class="slides")
                    img.object-fit-cover(src="https://66.media.tumblr.com/d3b94ff244c20023487cef6b8c006a85/95cea2d59f161b1b-47/s1280x1920/7ed7517a1ad596f8b6f4ca6e9fc6c2b5f56c601e.jpg")
                .mySlides(class="slides")
                    img.object-fit-cover(src="https://66.media.tumblr.com/04bc072f5a13da2b4ec26c480576a9de/95cea2d59f161b1b-6c/s1280x1920/196d8bfe571a081a3f9d8ba92ad7f6174e5ed8b4.jpg")

                a.prev(onclick="plusSlides(-1)")
                a.next(onclick="plusSlides(1)")

        .captions
            span.caption__title #{third} 
            span.caption__text sewing 
            span.caption__number 57*35*36(cm) <br/> 2019