footer.footer
    .footer-icon
        span
            a(href=routes.contact)
                i(class="fas fa-envelope-square")
        span
            a(href="https://www.instagram.com/hyunujinu/?hl=ko") 
                i(class="fab fa-instagram")
        span
            a(href="https://www.tumblr.com/blog/hyunujinu") 
                i(class="fab fa-tumblr-square")
    .footer-area South korea, #{area}
    .footer-copyright #{siteName} #{new Date().getFullYear()} &copy;